// Created by Amin Keshavarz on 7/31/2017.

footer
    div(class='row links')
        div(class='col col--md-8')
            ul
                li
                    a(href='#') درباره ما
                li
                    a(href='#') سوالات متداول
                li
                    a(href='#') مسترکارت چیست
                li
                    a(href='#') همکاری در فروش

        div(class='col col--md-4')
            div(class='social')
                span(id='instagram')
                    a(href='#')
                        i(class='fa fa-instagram')
                span(id='facebok')
                    a(href='#')
                        i(class='fa fa-facebook')
                span(id='google')
                    a(href='#')
                        i(class='fa fa-google-plus')
                span(id='twitter')
                    a(href='#')
                        i(class='fa fa-twitter')
                span(id='linkedin')
                    a(href='#')
                        i(class='fa fa-linkedin')
    div(class='row copyrighting')
        div.col.col--md-9
            ul
                li
                    a(href='#') حریم خصوصی
                li
                    a(href='#') قوانین و مقررات
        div.col.col--md-3.copy-right   © ۱۳۹۶ مسترکارت

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

