// Created by Amin Keshavarz on 7/31/2017.

footer
    div(class='row')
        div(class='col col--md-4')
            h4(class='colorful-text')  Bingo
            p   لورم ایپسوم به انگلیسی متنی است بی مفهوم که تشکیل شده از کلمات معنی دار یا بی معنی کنار هم. کاربر با دیدن متن لورم ایپسوم تصور میکند.
        div(class='col col--md-2')
            h4  لینک ها
            ul
                li
                    a(href='#') حریم شخصی
                li
                    a(href='#') قوانین و شرایط
                li
                    a(href='#') درباره متخصصین
                li
                    a(href='#') بینگودر رسانه‌ها
        div(class='col col--md-2')
            h4  درباره ما
            ul
                li
                    a(href='#') موقعیت شغلی
                li
                    a(href='#') بلاگ
                li
                    a(href='#') ارتباط با ما
        div(class='col col--md-3')
            h4  ارتباط با ما
            p   منتظر نظـرات شما درباره بینگو هستیم
            div(class='mobile') 021-26850588
            div(class='email')  hi@bingo.ir
            div(class='social')
                span(id='instagram')
                    a(href='#')
                        i(class='fa fa-instagram')
                span(id='twitter')
                    a(href='#')
                        i(class='fa fa-twitter')
                span(id='linkedin')
                    a(href='#')
                        i(class='fa fa-linkedin')