// Created by Amin Keshavarz on 7/31/2017.

header.border-bottom-like-triangle
    nav
        div(class='logo')
            div(class='arzino')
                img(src="assets/img/logo.svg")

        div(class='menu')
            ul
                li
                    a(href="index.html")    خانه
                li
                    a(href="about.html")     درباره ما
                li
                    a(href="prices.html")     شارژ کارت
                li
                    a(href="#")     سوالات متداول
        div(class='sign-up')
            a#login.btn(href='#' title='ورود')    ورود
            a#sign-up.btn.btn-default(href='#' title='ورود')    عضویت


