header.border-bottom-like-triangle
    nav
        div(class='logo')
            div(class='arzino')
                include ../../img/logo.svg

        div#menu-icon
            span.fa.fa-bars

        div(class='menu')
            ul
                li
                    a(href="/")    خانه
                li
                    a(href="about.html")     درباره ما
                li
                    a(href="prices.html")     شارژ کارت
                li
                    a(href="#")     سوالات متداول
        div(class='sign-up')
            a#login.btn(href='#' title='ورود')    ورود
            a#sign-up.btn.btn-default(href='#' title='ورود')    عضویت


