// Created by Amin Keshavarz on 7/31/2017.

header.border-bottom-like-triangle
    nav
        div(class='logo')
            div(class='arzino')  ارزینو

        div(class='menu')
            ul
                li
                    a(href="#")    خانه
                li
                    a(href="#")     درباره ما
                li
                    a(href="#")     شارژ کارت
                li
                    a(href="#")     سوالات متداول
        div(class='sign-up')
            a#login.btn(href='#' title='ورود')    ورود
            a#sign-up.btn.btn-default(href='#' title='ورود')    عضویت


