// Created by Amin Keshavarz on 7/31/2017.

header.intro.border-bottom-like-triangle
    nav
        div(class='logo')
            div(class='arzino')  ارزینو

        div(class='menu')
            ul
                li
                    a(href="#")    خانه
                li
                    a(href="#")     درباره ما
                li
                    a(href="#")     شارژ کارت
                li
                    a(href="#")     سوالات متداول
        div(class='sign-up')
            a#login.btn(href='#' title='ورود')    ورود
            a#sign-up.btn.btn-default(href='#' title='ورود')    عضویت

    article
        h2  در هر نقطه از این کُره‌ی خاکی خرج کنید!
        div.description ارائه‌دهنده کارت‌های پیش‌پرداخت شده‌ی ارزی مثل مسترکارت و ویزا کارت هست که به راحتی قابلیت این رو داره که هرچندبار که دوست داریم به ریال شارژ کنیم و به دلار خرید کنیم. دیگه نیازی به همراه داشتن پول نقد نیست و دردسر تبدیل پول براتون به لذت تبدیل میشه. در هرکجا که باشین ...

        div.buttons
            a(class='btn btn-default' href='#') اطلاعات بیشتر
            a(class='btn btn-success' href='#') درخواست کارت


