// Created by Amin Keshavarz on 7/31/2017.

header(id='container' class='intro')
    nav
        div(class='menu')
            ul
                li
                    a(href="shop.html")    فروشگاه
                li
                    a(href="login1.html")     پنل کاربری
                li
                    a(href="#")     تعرفه ها
                li
                    a(href="blog.html")     بلاگ
                li
                    a(href="contact.html")     تماس

        div(class='logo')
            div(class='sign-up-btn')
                a(href='#' title='ورود')    ورود یا ثبت نام
            div(class='bingo')  Bingo

    div(id='bingo-intro-slider' data-delay='5000')
        div(class='black-back-slider')
        div(class='slider img' data-img='assets/img/img1.jpg')
            div(class='slider-content')
                span(class='bar')
                h4  بینگو برای تمام کسب کارها
                p   کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند
        div(class='slider img' data-img='assets/img/img2.jpg')
            div(class='slider-content')
                span(class='bar')
                h4  آسودگی در استفاده
                p   همیشه در دسترس و با کنترل خطای بالا
        div(class='slider img' data-img='assets/img/img3.jpg')
            div(class='slider-content')
                span(class='bar')
                h4  امنیت در تراکنش
                p   کاربر با دیدن متن لورم ایپسوم تصور میکند متنی که در صفحه مشاهده میکند
    div(class="footer")
        div(class='social')
            span(id='instagram')
                a(href='#')
                    i(class='fa fa-instagram')
            span(id='twitter')
                a(href='#')
                    i(class='fa fa-twitter')
            span(id='linkedin')
                a(href='#')
                    i(class='fa fa-linkedin')

        div(class='arrow-key' id="scroll-to-content")
            i(class="fa fa-arrow-right fa-rotate-90")

        div(class='slider-selector')
