@charset "utf-8";

//
// Modules & Styleguide
// ====================
//
@import 'plugins/variables';
@import 'plugins/fonts';
@import "../../node_modules/node-normalize-scss/normalize";
@import 'plugins/animations';
@import "../../node_modules/flexbox-grid-sass/src/flexbox-grid";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.row {
  margin: -1rem 0 1rem 0;
}
//
// Output
// ======
//
@import 'particle/header';
@import 'particle/footer';
@import 'particle/stylesheets';
@import 'particle/blog';
@import 'particle/signin';
@import 'particle/slider';