extends partials/layout.pug
block project-info
    -var pageName = 'صفحه نخست'
    -var fileName = 'index'
block content
    main#home
        section#properties
            h3  ویژگی‌های زرین‌پال

            div.row
                div.col.col--md-8
                    ul
                        li.col.col--md-6
                            div.panel
                                h4  قابل شارژ به دفعات نامحدود
                                p   ورود به پنل کاربری و دسترسی به اینترنت، همین دو مورد کافیه تا با یه کارت شتابی کارت ارزی‌تون رو شارژ کنید .

                        li.col.col--md-6
                            div.panel
                                h4  نه کمتر نه بیشتر!
                                p   خرید دلار به قیمت مصوب بانک مرکزی در لحظه. کارمزد وجود داره ولی رو قیمت دلار چیزی اضافه نمیشه.

                        li.col.col--md-6
                            div.panel.active
                                h4  قابل استفاده در ATM
                                p   در هر نقطه‌ از جهان می‌تونید از این کارت در دستگاه‌های خودپرداز استفاده کنید و...

                        li.col.col--md-6
                            div.panel
                                h4  خرید از دستگاه POS
                                p   تو هر فروشگاهی که دوست دارین خرید کنید و هنگام پرداخت نگرانی خاصی برای پرداخت مبلغ خریداری شده‌تون نداشته باشید.

                        li.col.col--md-6
                            div.panel
                                h4  اینترنت بانک
                                p   با وجود اینترنت بانک هرلحظه و هرجا این امکان براتون فراهم هست تا تراکنش‌های انجام شده‌تون رو مدیریت کنید.

                        li.col.col--md-6
                            div.panel
                                h4  خرید آنلاین
                                p   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.


                div.col.col--md-4

        section#processes.border-top-like-triangle
            h3  پس من یه کارت ارزی می‌خوام!

            div.row
                div.steps#register
                    span.sptes-pic.fa.fa-user-circle
                    h4  ثبت نام
                    p   در یک مرحله‌ی ساده و در چند دقیقه ثبت‌نام کنید. فقط با وارد کردن شماره تماس خود.
                div.steps#send-dcouments
                    span.sptes-pic.fa.fa-paper-plane
                    h4  تکمیل و ارسال مدارک
                    p   در پنل کاربری از شما خواسته می‌شه تا اطلاعات خود را تکمیل کنید و مدارک لازم مثل کپی پاسپورت رو برای ما ارسال کنید.
                div.steps#send-cart
                    span.sptes-pic.fa.fa-credit-card
                    h4  ارسال کارت
                    p   سعی می‌کنیم خیلی سریع با یه بسته‌بندی شیک کارت رو براتون ارسال کنیم و اتلاف وقت و هزینه‌ای در این مرحله وجود نداشته باشه.
                div.steps#finish
                    span.sptes-pic.fa.fa-check-circle
                    h4  تمام!
                    p   حالا می‌تونید کارت‌تون رو شارژ کنید و از خرید کردن باهاش لذت ببرین، تبریک می‌گیم :)