extends partials/layout.pug
block project-info
    -var pageName = 'صفحه نخست'
    -var fileName = 'index'
block css
    link(rel="stylesheet" type="text/css" href ="/assets/css/styles.css")
block js
    script(src='/assets/js/app.js')
    script
        |   var ps = new PerfectScrollbar('#scroll-process-items');
block content
    main#home
        section#properties
            h3.animated.fadeIn  ویژگی‌های زرین‌پال

            div.row(style="max-width:80%")
                div.col-xs-12.col-lg-5.center-xs.center-md
                    div.cards-container
                        div#card-1.card.on-top.active
                            include ../img/mastercard.svg
                        div#card-2.card
                            include ../img/mastercard.svg
                        div#card-3.card
                            include ../img/mastercard.svg
                        div#card-4.card
                            include ../img/mastercard.svg
                        div#card-5.card
                            include ../img/mastercard.svg
                        div#card-6.card
                            include ../img/mastercard.svg

                div#card-details.col-xs-12.col-lg-7.first-lg
                    div.item-small-slider
                        ul
                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6.active#item-1
                                div.panel
                                    span.fa
                                    h4  قابل شارژ به دفعات نامحدود
                                    p   ورود به پنل کاربری و دسترسی به اینترنت، همین دو مورد کافیه تا با یه کارت شتابی کارت ارزی‌تون رو شارژ کنید .

                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6#item-2
                                div.panel
                                    span.fa
                                    h4  نه کمتر نه بیشتر!
                                    p   خرید دلار به قیمت مصوب بانک مرکزی در لحظه. کارمزد وجود داره ولی رو قیمت دلار چیزی اضافه نمیشه.

                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6#item-3
                                div.panel
                                    span.fa
                                    h4  قابل استفاده در ATM
                                    p   در هر نقطه‌ از جهان می‌تونید از این کارت در دستگاه‌های خودپرداز استفاده کنید و...

                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6#item-4
                                div.panel
                                    span.fa
                                    h4  خرید از دستگاه POS
                                    p   تو هر فروشگاهی که دوست دارین خرید کنید و هنگام پرداخت نگرانی خاصی برای پرداخت مبلغ خریداری شده‌تون نداشته باشید.

                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6#item-5
                                div.panel
                                    span.fa
                                    h4  اینترنت بانک
                                    p   با وجود اینترنت بانک هرلحظه و هرجا این امکان براتون فراهم هست تا تراکنش‌های انجام شده‌تون رو مدیریت کنید.

                            li.col-xs-12.col-sm-6.col-md-4.col-lg-6#item-6
                                div.panel
                                    span.fa
                                    h4  خرید آنلاین
                                    p   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.

        section#processes.border-top-like-triangle
            h3.animated.fadeIn  پس من یه کارت ارزی می‌خوام!

            div.row#scroll-process-items
                div#processes-items
                    div.steps#register
                        div.steps-pic
                            include ../img/user.svg
                        h4  ثبت نام
                        p   در یک مرحله‌ی ساده و در چند دقیقه ثبت‌نام کنید. فقط با وارد کردن شماره تماس خود.
                    div.steps#send-dcouments
                        div.steps-pic
                            include ../img/file.svg
                        h4  تکمیل و ارسال مدارک
                        p   در پنل کاربری از شما خواسته می‌شه تا اطلاعات خود را تکمیل کنید و مدارک لازم مثل کپی پاسپورت رو برای ما ارسال کنید.
                    div.steps#send-cart
                        div.steps-pic
                            include ../img/cards.svg
                        h4  ارسال کارت
                        p   سعی می‌کنیم خیلی سریع با یه بسته‌بندی شیک کارت رو براتون ارسال کنیم و اتلاف وقت و هزینه‌ای در این مرحله وجود نداشته باشه.
                    div.steps#finish
                        div.steps-pic
                            include ../img/check.svg
                        h4  تمام!
                        p   حالا می‌تونید کارت‌تون رو شارژ کنید و از خرید کردن باهاش لذت ببرین، تبریک می‌گیم :)

        section#brands
            h3.animated.fadeIn  برای شروع کار آماده ای؟
                a.btn.btn-success(href="#") درخواست کارت

            div.brands(style="display:none")
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')
                div.brand
                    img(src='http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19749.png')