extends partials/layout.pug
block project-info
    -var pageName = 'تعرفه ها'
    -var fileName = 'prices'
block content
    main#page
        span#page-icon
            img(src="assets/img/price.svg")
        h2  تعرفه ها

        div.row.page-description
            p   ارائه‌دهنده کارت‌های پیش‌پرداخت شده‌ی ارزی مثل مسترکارت و ویزا کارت هست که به راحتی قابلیت این رو داره که هرچندبار که دوست داریم به ریال شارژ کنیم و به دلار خرید کنیم. دیگه نیازی به همراه داشتن پول نقد نیست و دردسر تبدیل پول براتون به لذت تبدیل میشه. در هرکجا که باشین و دسترسی به اینترنت هم داشته باشین، خیلی راحت، سریع و اَمن می‌تونید کارت‌تون رو با هر کارت شتابی به ریال شارژ کنید و به دلار خرج کنید. در هر نقطه از این کُره‌ی خاکی یا حتی در هر نقطه از اقیانوس‌ها!

        section#prices
            div.row
                div.col.col--md-5
                    h4  محدودیت‌های پرداخت *
                div.col.col--md-7
                    table
                        thead
                            tr
                                th  توضیحات پارامتر
                                th  حجم دلاری
                        tbody
                            tr
                                td  برداشت پول نقد از خودپرداز در روز
                                td  3000 دلار
                            tr
                                td  خرید از کارت خوان در روز
                                td  20000 دلار
                            tr
                                td  خرید از درگاه آنلاین ارزی در روز
                                td  20000 دلار
                            tr
                                td  حداکثر سقف قابل شارژ کارت در روز
                                td  20000 دلار
                            tr
                                td  حداکثر موجودی کارت
                                td  40000 دلار

            <br/><br/><br/>

            div.row
                div.col.col--md-5
                    h4  کارمزدها *
                div.col.col--md-7
                    table
                        thead
                            tr
                                th  خدمات
                                th  ارزش
                        tbody
                            tr
                                td  ثبت کارت
                                td  رایگان
                            tr
                                td  فعالسازی کارت
                                td  رایگان
                            tr
                                td  انتقال وجه دلاری بین کارتی
                                td  10 دلار
                            tr
                                td  هزینه آبونمان ماهیانه
                                td  1.25 دلار
                            tr
                                td  خرید از کارت خوان
                                td  0.45 دلار
                            tr
                                td  برداشت وجه نقد از خود پرداز
                                td  2.75 دلار
                            tr
                                td  تبدیل ارز لحظه ای
                                td  3 درصد
            <br/><br/><br/>
            div.row
                p(style="text-align: center; width:100%") * جداول فوق بر اساس قوانین مسترکارت و ویزا کارت مشخص گردیده است و زرین‌پال هیچگونه دخل و تصرفی در آن ندارد.