footer {
  margin-top: 50px;

  a, a:visited {
    color: #000;
  }

  a:hover, a:active {
    color: $main-color;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      float: right;
      margin-left: 20px;
    }
  }

  .links {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .col {
      padding: 0;
    }
  }

  .social {
    text-align: left;
    font-size: 24px;

    span {
      float: left;
      margin-right: 35px;
    }
    span:last-child {
      margin-right: 0;
    }
  }

  .copyrighting {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e5e8f0;

    .copy-right {
      text-align: left;
    }
  }
}