html, body {
  font-family: $font-IranYekan;
  text-align: right;
  margin: 0;
  direction: rtl;
  line-height: 1.6;
  font-weight: 100;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover, a:active {
  color: $main-color;
}

.english-num {
  font-family: $font-light;
}

header {
  height: 250px;
  background: #2486ff;
  background-image: url(../img/circle1.svg), url(../img/circle2.svg), linear-gradient(80deg, #38b8f2, #2541b2);
  background-position: 300px -25px, 30px 25px, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 65%, cover, 100%;
  color: #ffffff;

  a {
    color: #fff;
  }

  a:hover, a:active {
    color: #000000;
  }

  .btn {
    border: 1px solid #ffffff;
  }

  nav {
    padding: 30px 50px;

    .logo {
      float: right;
      font-size: 38px;
      margin-top: -17px;
    }
    .sign-up {
      float: left;

      #login:hover {
        background: $success-color;
      }
    }
    .menu {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          float: right;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }

  article {
    position: absolute;
    top: 48%;
    -webkit-transform: translate(0, -40%);
    transform: translate(0, -40%);
    width: 55%;
    padding-right: 7%;

    h2:after {
      content: "";
      position: absolute;
      right: 12%;
      top: 70px;
      height: 5px;
      width: 75px;
      border-bottom: 5px solid #4fd7a5;
    }

    .description {
      margin-top: 30px;
      line-height: 36px;
    }

    .buttons {
      margin-top: 35px;
    }
  }
}

header.intro {
  height: 90vh;
}

.border-bottom-like-triangle {
  position: relative;
}

.border-bottom-like-triangle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 125px solid #fff;
}

.border-top-like-triangle:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 125px solid white;
  border-bottom: 0 solid transparent;
}