span.validation {
  color: #fff;
  background: $main-color;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 24px;
  font-weight: 100;
  font-size: 10px;
  margin: 10px;
  float: right;
}

span.validation.ok {
  color: #fff;
  background: $main-color;
}

span.validation.error {
  color: #fff;
  background: #ff2646;
}

input[type=file] {
  width: 0.1px !important;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type=file] + label {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 3px 10px;
  display: inline-block !important;
}
aside.slider {
  float: right;
  width: 35%;
  position: fixed;
  background: #000000;
  top: 0;
  bottom: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 80%;
  float: right;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
}

textarea {
  width: 90%;
}
aside.page {
  float: left;
  width: 65%;

  header {
    border-bottom: 1px solid #ebebeb;
  }

  main.sign-in-layout {
    margin-top: 10%;
    input, textarea {
      display: block;
      padding: 10px;
      border: 1px solid #ccc;
    }
    .login {
      text-align: center;
      label {
        margin-bottom: 15px;
      }
      span.bar {
        width: 300px;
        position: initial;
        margin: 15px auto;
      }
      input, textarea {
        float: none;
        text-align: left;
        width: 280px;
        display: block;
        margin: 30px auto;
        padding: 10px;
        border: 1px solid #ccc;
        direction: ltr;
      }
    }
    .sign-up {
      width: 80%;

      .col {
        padding-left: 0;
        padding-right: 0;
      }
      h3 {
        text-align: right;
      }
      h3 + span.bar {
        float: right;
        width: 110px;
        position: inherit;
      }
      label {
        display: block;
        margin-bottom: 5px;
      }
      input, textarea {
        width: 70%;
        float: right;
      }
      input[type=file] + label {
        border: transparent;
        width: 75%;
        float: right;
        padding: 0;
      }
      input[type=file] + label .btn {
        border: 1px solid #ccc;
        padding: 5px 10px;
        display: inline-block !important;
        background: transparent;
        margin: 10px 10px 10px -2px;
        float: left;
        font-family: $font-light;
      }
      input[type=file] + label .btn span {
        padding-right: 10px;
      }
      input[type=file] + label .input-file-value {
        border: 1px solid #ccc;
        width: 100%;
        height: 100px;
      }

      .bingo-btn {
        float: left;
        margin-left: 11.8%;
      }
      .bingo-btn.resize {
        max-width: inherit;
        float: inherit;
        width: 70%;
        margin-top: 16px;

        span {
          margin-right: 30px;
          float: left;
        }
      }
    }
  }

  main.contact-layout {
    margin: 50px auto;
    width: 80%;
    font-weight: lighter;

    .contact-info {
      border-bottom: 1px solid #eee;
      padding-bottom: 30px;

      .info {
        padding: 10px 45px 10px 10px;
        background-size: 30px !important;
        font-weight: lighter;
      }
      .info.address {
        background: url('../img/location-icon.jpg') no-repeat 100%
      }
      .info.telephone {
        background: url('../img/phone-icon.jpg') no-repeat 100%;
      }
      .info.email {
        background: url('../img/mail-icon.jpg') no-repeat 100%;
      }
      .social {
        color: #eee;
        float: left;
        font-size: 25px;
        a, a:visited {
          color: #c7c7c7;
        }
        a:hover, a:active {
          color: $main-color;
        }
        span {
          padding: 5px;
        }
      }
    }
    .contact-form {
      .bingo-btn {
        float: left;
        margin-left: 38px;
        margin-top: 15px;
      }
    }
  }
}