.btn {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0 5px;
}

.btn:hover {
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.btn-default {
  color: #000;
  background: #fff !important;
}

.btn-success {
  color: #fff;
  border-color: $success-color !important;
  background: $success-color;
}

main#home section .row {
  max-width: $standard-md-size;
  margin-right: auto;
  margin-left: auto;
}

section {
  h3 {
    font-size: 36px;
    text-align: center;
  }
  h3:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: -30px;
    height: 5px;
    width: 75px;
    border-bottom: 5px solid #4fd7a5;
  }
}

#properties {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: right;
    }
  }
  .active {
    border-radius: 15px;
    background-color: #fbfbff;
    box-shadow: 0 5px 10px 0 rgba(2, 18, 34, 0.1);
  }
}

#processes {
  background: #fbfbff;
  h3 {
    padding-top: 140px;
  }
}