img {
  width: 100%;
}
section {
  max-width: $standard-md-size;
  margin: 0 auto;

  .title h4 {
    margin-bottom: -30px;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  h3 + span.bar {
    width: 65px;
    height: 3px;
    background: #00b8d4;
    display: block;
    margin: -35px auto 0;
    position: relative;
  }

  .products {
    text-align: center;

    .product-image {
      width: 70%;
      text-align: center;
      margin: 0 auto;
    }
  }

  .products.slide {
    text-align: center;

    .product-image {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    .carousel-wrapper {
      width: 100%;
      height: 300px;
      position: -webkit-sticky;
      position: sticky;
      top: 50%;
      margin: 0 -10%;
      overflow: hidden;
      display: inline-table;
      overflow-y: visible;
      margin: 0 auto;

      .carousel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;

        .carousel-cell {
          padding: 10px;
          background-color: #FFFFFF;
          width: 20%;
          height: auto;
          min-width: 120px;
          margin: 0 20px;
          transition: transform 500ms ease;

          .more {
            display: block;
            opacity: 0;
            margin: 5px 0 15px 0;
            text-align: center;
            font-size: 10px;
            color: #CFCFCF;
            text-decoration: none;
            transition: opacity 300ms ease;
            &:hover, &:active, &:visited, &:focus {
              color: #CFCFCF;
              text-decoration: none;
            }
          }

          .line {
            position: absolute;
            width: 2px;
            height: 0;
            background-color: black;
            left: 50%;
            margin: 5px 0 0 -1px;
            transition: height 300ms ease;
            display: block;
          }

          .price {
            position: absolute;
            font-weight: 700;
            margin: 45px auto 0 auto;
            left: 50%;
            transform: translate(-50%);
            opacity: 0;
            transition: opacity 300ms ease 300ms;
            sup {
              top: 2px;
              position: absolute;
            }
          }

          &.is-selected {
            transform: scale(1.2);
            .line {
              height: 35px;
            }
            .price, .more {
              opacity: 1;
            }
          }
        }
      }
      .flickity-page-dots {
        display: none;
      }
      .flickity-viewport, .flickity-slider {
        width: 90%;
        overflow: visible;
        margin: 0 auto;
      }
      .flickity-prev-next-button {
        border: 1px solid;
        border-color: #ccc;
        color: #ccc;
      }
      .flickity-prev-next-button .arrow {
        fill: #ccc;
      }
      .flickity-prev-next-button:hover .arrow {
        fill: $main-color;
      }
    }
  }

  article {
    .title h3 {
      text-align: right;
      margin-bottom: 10px;
    }
    .title h3 + p {
      margin: 0 0 30px;
    }
    .title h3 + span.bar, .title h3 + p + span.bar {
      width: 100px;
      top: -13px;
      right: 0;
      margin: inherit;
    }

    .price {
      font-weight: bold;
      margin: 10px 0;
    }
  }
}

.bg-gray {
  background-color: #f5f5f5;
  max-width: inherit;
  article {
    max-width: $standard-md-size;
    margin: 0 auto;
  }
}

.color-gray {
  color: #757575;
}
.bingo-btn {
  display: inline-block;
  font-family: $font-light;
  background: $main-color;
  border: 1px solid transparent;
  line-height: 2.5;
  padding: 0 15px 0 5px;
  border-radius: 50px;
  height: 40px;
  color: #fff;
  text-align: right;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  span {
    display: inline-block;
    border-radius: 100%;
    width: 31px;
    height: 31px;
    text-align: center;
    background-color: #32d8f1;
    line-height: 35px;
    margin-right: 30px;
    margin-top: 4px;
  }
}

.bingo-btn:hover {
  color: #fff;
  background: #00cbea;
}

#sec1 {
  padding: 30px;
}
#sec2 {
  article {
    margin: inherit;
    max-width: inherit;
  }

  .sec-picture {
    max-height: 530px;
  }

  .footer {
    .store-btn {
      float: right;
    }
  }
}

#sec3 {
  p {
    padding-top: 20px;
  }
}

.newsletter {
  color: #fff;
  background: linear-gradient(rgba(0, 150, 173, 0.7), rgba(0, 150, 173, 0.7)), url('../img/guide-guide-rectangle-rectangle_edited.jpg');
  background-position: center top;
  background-size: cover;
  max-width: inherit;
  width: 100%;
  padding-bottom: 50px;

  .col {
    margin: 0 auto;
  }

  span.bar {
    background: #fff;
    margin: -50px auto 40px;
  }

  .input input {
    font-family: $font-light;
    height: 40px;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 50px;
    float: right;
    padding: 0 15px;
  }
  .share-btn {
    float: left;
    width: 22%;

    button {
      font-family: $font-light;
      background: $main-color;
      border: 1px solid transparent;
      line-height: 2.5;
      padding: 0 15px 0 5px;
      border-radius: 50px;
      width: 100%;
      height: 40px;
      color: #fff;
      text-align: right;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;

      span {
        float: left;
        border-radius: 100%;
        width: 31px;
        height: 31px;
        text-align: center;
        background-color: #32d8f1;
        line-height: 35px;
        margin-top: 4px;
      }
    }

    button:hover {
      background: #00cbea;
    }
  }
}

.panel-preview {
  margin-top: 40px;
  background: url('../img/dash-2.svg') repeat;
  .dashboard {
    margin: 40px auto 4px;
    width: 70%;
  }
}

main.shop {
  .bg-gray .description {
    margin-bottom: 60px;
  }
  h4 {
    color: #757575;
  }
  .bg-gray h4 + div {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
  }
}
